@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="../../Scripts/jquery-ui-1.8.20.min.js"></script>
<script type="text/javascript" src="../../Scripts/JavaScript.js"></script>
<script type="text/javascript" src="../../Scripts/JavaScript.js"></script>

<h2>People Registration</h2>

<div>
    <div id="ListView"></div>
    <div id="AddDetails"></div>
</div>

<input type="hidden" id="HdnIsEdit" name="Sample" value="0" />
<input type="hidden" id="CurrentID" name="Sample" value="0" />


